In [4]:
from flask import Flask, request
import pandas as pd
import numpy as np
import mysql.connector
from sqlalchemy import create_engine

In [5]:
app = Flask(__name__)

In [13]:
path_list=['./departments.csv','./jobs.csv','./hired_employees.csv']

In [6]:
# Connect to the MySQL database
connection = create_engine("mysql+mysqldb://globantuser:pruebatecnica123@localhost/process_globant")

In [10]:
def load_data(file_path):
    """Load the data into a pandas dataframe."""
    df = pd.read_csv(file_path, delimiter=',', header=None)
    return df

In [22]:

def validate_data(df):
    """Validate the data in the dataframe."""
    # Check for missing values
    missing_values = df.isnull().sum()
    if missing_values.sum() > 0:
        print("Missing values:")
        print(missing_values)
        return False

    # Check for duplicates
    duplicates = df.duplicated().sum()
    if duplicates > 0:
        print("Duplicate rows:")
        print(duplicates)
        return False
    
    # Covert data types in each column
    #df['departments_name'] = df['departments_name'].astype(pd.StringDtype())
    #df['job_name'] = df['job_name'].astype(pd.StringDtype())
    #df['employee_name'] = df['employee_name'].astype(pd.StringDtype())
    #df['hired_date'] = pd.to_datetime(df['hired_date'])



    return True

In [20]:
df_dept=load_data(path_list[0])
df_dept.columns =['iddepartments', 'departments_name']

In [23]:
validate_data(df_dept)

True

In [25]:
df_job=load_data(path_list[1])
df_job.columns =['idjobs', 'job_name']

In [26]:
validate_data(df_job)

True

In [27]:
df_he=load_data(path_list[2])
df_he.columns =['idhired_employees', 'employee_name','hired_date','departments_code','job_code']

In [28]:
validate_data(df_he)

Missing values:
idhired_employees     0
employee_name        19
hired_date           14
departments_code     21
job_code             16
dtype: int64

False

In [29]:
# API endpoint to receive new data for the transactions table and insert it into the database
@app.route("/api/data", methods=["POST"])
def insert_data(df, connector, table_name):
     # Get the data from the request
    df = request.get_json()
    # Validate data
    if not validate_data(df):
        return "Invalid data", 400
    if len(df)>1000:
        return "Too many rows, maximum is 1000"
    #Must be append, because we start from the fact that the table was previously created in MySQL
    df.to_sql(name="table_name", con=connector, if_exists="append", index=False, chunksize = 1000, method='multi')

SyntaxError: incomplete input (2803176997.py, line 1)