In [ ]:
from flask import Flask, request,jsonify
import pandas as pd
import numpy as np
import mysql.connector
from sqlalchemy import create_engine, text

In [ ]:
app = Flask(__name__)

In [ ]:

# Connect to the MySQL database
connection = create_engine("mysql+mysqldb://globantuser:pruebatecnica123@localhost/process_globant")
conn = connection.connect()

In [ ]:
employee_for_each_job_Q2021=text("""
       SELECT departments.departments_name, 
       jobs.job_name, 
       CONCAT(hired_employees.idhired_employees,"-",hired_employees.employee_name) AS employees,
       SUM(CASE WHEN QUARTER(hired_employees.hired_date) = 1 THEN 1 ELSE 0 END) AS Q1,
       SUM(CASE WHEN QUARTER(hired_employees.hired_date) = 2 THEN 1 ELSE 0 END) AS Q2,
       SUM(CASE WHEN QUARTER(hired_employees.hired_date) = 3 THEN 1 ELSE 0 END) AS Q3,
       SUM(CASE WHEN QUARTER(hired_employees.hired_date) = 4 THEN 1 ELSE 0 END) AS Q4
FROM process_globant.`(hired_employees)` hired_employees
INNER JOIN process_globant.`(departments)` departments
ON hired_employees.departments_code = departments.iddepartments
INNER JOIN process_globant.`(jobs.)` jobs
ON hired_employees.job_code = jobs.idjobs
WHERE YEAR(hired_employees.hired_date) = 2021
GROUP BY departments.departments_name, jobs.job_name, employees
ORDER BY departments.departments_name, jobs.job_name""")
result1 = conn.execute(employee_for_each_job_Q2021).fetchall()
for row in result1:
    print (*row)

In [ ]:
departments_wmore_employees_2021=text("""
    SELECT departments.iddepartments, 
     departments.departments_name, 
        COUNT(CONCAT(hired_employees.idhired_employees,"-",hired_employees.employee_name)) AS number_of_employees_hired
FROM process_globant.`(departments)` departments
JOIN process_globant.`(hired_employees)` hired_employees
ON departments.iddepartments = hired_employees.departments_code
WHERE hired_employees.hired_date BETWEEN '2021-01-01' AND '2021-12-31'
GROUP BY departments.iddepartments, departments.departments_name
HAVING COUNT(CONCAT(hired_employees.idhired_employees,"-",hired_employees.employee_name)) > (SELECT AVG(num_employees)
                         FROM (SELECT COUNT(CONCAT(idhired_employees,"-",employee_name)) AS num_employees
                           FROM process_globant.`(hired_employees)`
                           WHERE hired_date BETWEEN '2021-01-01' AND '2021-12-31'
                           GROUP BY departments_code) as avg_employees_per_department)
ORDER BY number_of_employees_hired DESC""")
conn.execute(departments_wmore_employees_2021)
result2 = conn.execute(departments_wmore_employees_2021).fetchall()
for row in result2:
    print(*row)

In [ ]:
# API endpoint to receive new data for the transactions table and insert it into the database


@app.route("/", methods=['POST','GET'])
def ping():
    return jsonify({"response": "Holi"})

@app.route("/employees_job")
def employees_job():
    employee_for_each_job_Q2021=text("""
       SELECT departments.departments_name, 
       jobs.job_name, 
       CONCAT(hired_employees.idhired_employees,"-",hired_employees.employee_name) AS employees,
       SUM(CASE WHEN QUARTER(hired_employees.hired_date) = 1 THEN 1 ELSE 0 END) AS Q1,
       SUM(CASE WHEN QUARTER(hired_employees.hired_date) = 2 THEN 1 ELSE 0 END) AS Q2,
       SUM(CASE WHEN QUARTER(hired_employees.hired_date) = 3 THEN 1 ELSE 0 END) AS Q3,
       SUM(CASE WHEN QUARTER(hired_employees.hired_date) = 4 THEN 1 ELSE 0 END) AS Q4
FROM process_globant.`(hired_employees)` hired_employees
INNER JOIN process_globant.`(departments)` departments
ON hired_employees.departments_code = departments.iddepartments
INNER JOIN process_globant.`(jobs.)` jobs
ON hired_employees.job_code = jobs.idjobs
WHERE YEAR(hired_employees.hired_date) = 2021
GROUP BY departments.departments_name, jobs.job_name, employees
ORDER BY departments.departments_name, jobs.job_name""")
    result1 = conn.execute(employee_for_each_job_Q2021).fetchall()
    conn.close()
    #return "Show results"
    return print(result1[0])
    

@app.route("/employees_dept")
def employees_dept():
    departments_wmore_employees_2021=text("""
    SELECT departments.iddepartments, 
     departments.departments_name, 
        COUNT(CONCAT(hired_employees.idhired_employees,"-",hired_employees.employee_name)) AS number_of_employees_hired
FROM process_globant.`(departments)` departments
JOIN process_globant.`(hired_employees)` hired_employees
ON departments.iddepartments = hired_employees.departments_code
WHERE hired_employees.hired_date BETWEEN '2021-01-01' AND '2021-12-31'
GROUP BY departments.iddepartments, departments.departments_name
HAVING COUNT(CONCAT(hired_employees.idhired_employees,"-",hired_employees.employee_name)) > (SELECT AVG(num_employees)
                         FROM (SELECT COUNT(CONCAT(idhired_employees,"-",employee_name)) AS num_employees
                           FROM process_globant.`(hired_employees)`
                           WHERE hired_date BETWEEN '2021-01-01' AND '2021-12-31'
                           GROUP BY departments_code) as avg_employees_per_department)
ORDER BY number_of_employees_hired DESC""")
    #conn.execute(departments_wmore_employees_2021)
    result2 = conn.execute(departments_wmore_employees_2021).fetchall()
    conn.close()
    return print(result2[0])

In [ ]:
if __name__=="__main__" :
    #app.run(debug=True)
    #df_dept=load_data(path_list[0])
    #df_dept.columns =['iddepartments', 'departments_name']
    #insert_data(df_dept,connection, table_list[0])
    #app.debug=True
    
    #For Docker
    #app.run(host="0.0.0.0",port=4000)
    # Only in my local host
    app.run(host="0.0.0.0",port=4000,debug=False)