In [17]:
#Project libraries

import pandas as pd
import numpy as np
import mysql.connector
from sqlalchemy import create_engine

#intalations
#pip install mysqlclient
#pip install mysql.connector

In [2]:
connection = create_engine("mysql+mysqldb://globantuser:pruebatecnica123@localhost/process_globant")

In [19]:
# Departments
path_dept= './departments.csv'
df_dept = pd.read_csv(path_dept, delimiter=',', header=None)
df_dept.columns =['iddepartments', 'departments_name']
df_dept['departments_name'] = df_dept['departments_name'].astype(pd.StringDtype())


# Jobs
path_job= './jobs.csv'
df_job = pd.read_csv(path_job, delimiter=',', header=None)
df_job.columns =['idjobs', 'job_name']
df_job['job_name'] = df_job['job_name'].astype(pd.StringDtype())

# Hired Employees
path_he= './hired_employees.csv'
df_he = pd.read_csv(path_he, delimiter=',', header=None)
df_he.columns =['idhired_employees', 'employee_name','hired_date','departments_code','job_code']
df_he['employee_name'] = df_he['employee_name'].astype(pd.StringDtype())
df_he['hired_date'] = pd.to_datetime(df_he['hired_date'])

In [20]:
df_he.dtypes

idhired_employees                  int64
employee_name                     string
hired_date           datetime64[ns, UTC]
departments_code                 float64
job_code                         float64
dtype: object

In [21]:
df_he.head()

,idhired_employees,employee_name,hired_date,departments_code,job_code
0,1,Harold Vogt,2021-11-07 02:48:42+00:00,2.0,96.0
1,2,Ty Hofer,2021-05-30 05:43:46+00:00,8.0,NaN
2,3,Lyman Hadye,2021-09-01 23:27:38+00:00,5.0,52.0
3,4,Lotti Crowthe,2021-10-01 13:04:21+00:00,12.0,71.0
4,5,Gretna Lording,2021-10-10 22:22:17+00:00,6.0,80.0

In [7]:
df_dept.to_sql(name="departments", con=connection, if_exists="append", index=False, chunksize = 1000, method='multi')

12

In [22]:
df_job.to_sql(name="jobs", con=connection, if_exists="append", index=False, chunksize = 1000, method='multi')

183

In [26]:
df_he.to_sql(name="hired_employees", con=connection, if_exists="append", index=False, chunksize = 1000, method='multi')

1999